<h1>Settings</h1>

<section class="row">
  <div class="col-sm-6">
    <h2>User Data</h2>
    <div class="row">
      <dl>
        <dt>Name</dt>
        <dd><%= @user.full_name %></dd>
        <dt>Email</dt>
        <dd><%= @user.email %></dd>
      </dl>
    </div>
  </div>
</section>

<section class="row">
  <div class="col-sm-6">
    <h2>Time Config</h2>
    <dl>
      <dt>Spaced Time Interval</dt>
      <dd><%= @user.pretty_spaced_time_interval %></dd>
    </dl>
  </div>
</section>
